.col-gr {
  color: #03ac0e;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-lg {
  font-size: 25px;
}

.text-sm {
  font-size: 15px;
}

.text-bold {
  font-weight: bold;
}

.b-round {
  border: 1px solid rgba(204, 204, 204, 0.438);
  border-radius: 20px;
}

.b-r {
  border-right: 1px solid #1b471e3d;
}

.navbar {
  background-color: white;
}

.navbar .navbrand {
  font-size: 30px;
}

.navbar .kategori-drop {
  color: grey;
  font-size: small;
}

.navbar .kategori-drop:hover {
  background-color: #e6e6e6;
  color: #03ac0e;
}

.navbar .searchinp {
  width: 45rem !important;
}

.navbar .userarea .btn {
  font-size: small;
  font-weight: bold;
  padding: 0.3rem 1rem;
  border-radius: 8px;
}

.topcont .card {
  border: none;
}

.topcont .midcarr img {
  border-radius: 10px;
}

.topcont .topup {
  padding: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.topcont .topup .head {
  border-bottom: 2px solid #adadad67;
}

.topcont .topup .head .act {
  padding: 0 2rem;
  color: #03ac0e;
  border-bottom: 2px solid #03ac0e;
}

.topcont .topup .head a {
  color: gray;
}

.topcont .topup .body {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.topcont .topup .body .inp {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.topcont .topup .body .inp label {
  color: gray;
}

.topcont .topup .body .inp .long {
  width: 20rem;
}

.topcont .topup .body .bbtn {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.topcont .kat-prom {
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topcont .kat-prom a {
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: gray;
  max-height: 25px;
}

.topcont .kat-prom a img {
  height: 1.5rem;
}

.shopcarr h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: bold;
}

.shopcarr h2 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.shopcarr h2 img {
  width: 3rem;
}

.shopcarr .itemcarr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopcarr .itemcarr .itemsell {
  width: 12rem;
  border: 3px solid #eeeeee;
  border-radius: 15px;
}

.shopcarr .itemcarr .itemsell img {
  z-index: -1;
  width: 100%;
}

.shopcarr .itemcarr .itemsell .itemtitle {
  font-size: small;
  color: gray;
}

.shopcarr .itemcarr .itemsell .itemtext {
  font-size: medium;
}

.shopcarr .katcarr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopcarr .katcarr .kat {
  width: 22%;
}

.shopcarr .katcarr .kat img {
  width: 25%;
}

.shopcarr .katcarr .kat .title {
  font-size: 15px;
}

.shopcarr .katcarr .kat .prodnum {
  font-size: 13px;
  color: rgba(128, 128, 128, 0.75);
}

.shopcarr .oscarr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopcarr .oscarr img {
  width: 30%;
}

a,
a:hover {
  text-decoration: none;
  color: black;
}

.clickable:hover {
  color: #005306;
}

.div {
  margin: 20px auto;
  width: 98%;
  border-bottom: 1px solid rgba(190, 190, 190, 0.377);
}
/*# sourceMappingURL=tokopedia.css.map */